# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# macOS — Finder metadata files, will appear everywhere if you don't ignore them
.DS_Store

# IDE / editor folders
.vscode/
.idea/

# Local SQLite databases (you'll use SQLite for app metadata starting Week 2)
*.db
*.sqlite
*.sqlite-journal

# Compiled binary output
/platform
/bin/

paas
paas.db